.pdd_content {
    width:300px;
}

.pdd_row {
    display:flex;
    flex-direction: row;
}

.pdd_rowbox {
    width: 30px;
    text-align: right;
}

.pdd_rowlabel{
    margin-top: 4px;
    margin-right: 4px;
}
